
.fancy-header {
color: purple;
}
h1 {
    text-align: center;
    color: coral;
    text-decoration: underline;
}
body {
    background-color: aqua;
    background-image: url("../img/key_west.jpg");
    background-size: 150%;
}
ul li {
    list-style: square;
}
